.git
.gitignore
.idea
*.iml
*.iws
*.ipr
target/
!target/*.jar
.mvn/wrapper/maven-wrapper.jar
.DS_Store
node_modules/
npm-debug.log
.env
.env.*
.vscode/
logs/
README.md
docker-compose*
Dockerfile*
.dockerignore
